@import url('./header.css');
@import url('./footer.css');
@import url('./mobile.css');
@import url('./home.css');



main {
    padding: 150px 0 80px;
}
.art-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-container {
    border: solid 1px;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    height: 70px;
    & .nome-content {
        border-radius: 9px 9px 0 0;
        background-color: #DFAD79;
        text-align: center;
        height: 20px;
        & p {
            color: #3F1B25;
        }
    }
}

.foto-descricao {
    height: 50px;
    display: flex;
    flex-direction: row;
    & .foto {
        height: 48px;
        & img {
            border-radius: 0 0 0 10px;
            height: 100%;
        }
    }
    & p {
        margin: auto auto auto 10px;
    }
}