footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-color: #CB9C6C;

    .logos {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 15px;
        
        & img {
            
            width: 160px;
        }
        & .vila-logo {
            width: 210px;
        }
        
        & .prefeitura-logo {
            width: 335px;
        }
    }

    & .linha {
        height: 75%;
        border-left: solid 1px;
        margin: 0 60px 0 40px;
    }

    & .footer-information {
        & h3 {
            padding-top: 6px;
        }
        & p {
            padding-bottom: 6px;
            border-bottom: solid 1px;
        }
    }
}